In [1]:
#Question 1:


a = 0

def b() :
    
    global a  #this variable can be accessible globally and this variable is declared outside the function 
    a = c(a)
    return a

def c(a) :
    
    return a+2

print(b()) #In function "b" we have a function call for "c" which increases the value of "a" from 0 to 2
print(b()) #Since "a" is defined as global if we call function "b" which will call function "c" , and "a" has value=2 which increases from 2 to 4
print(b()) #As we know "a" is defined as global if we call function "b" which will again calls function "c" and "a"=4 which increases from 4 to 6
print(a)   #the final result will be displayed

2
4
6
6

In [2]:
#Question 2 :


def fileLength(dp) :
    
    try:
        fp = open(dp,'r')
        data = fp.read()
        print(len(data))
        
    except FileNotFoundError:
        print(dp+" No such file or directory")
        
    except:
        print("there is some issue")
        
fileLength("dataprogramming.py")

dataprogramming.py No such file or directory

In [3]:
#Question 3 :


class Marsupial :
    
    def __init__(self):
        self.record = []
        
    def pouch_contents(self):
        print(self.record)
        
    def put_in_pouch(self,x):
        self.record.append(x)
        
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)
    
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    
k = Kangaroo(0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [1]:
#Question 4 :


def collatz(x) :
    
    if(x==0 or x==1):
        print(x)
        return
        
    if(x%2==0) :
        print(x)
        x=int(x/2)
        collatz(x)
        
    else :
        print(x)
        x=int(3*x+1)
        collatz(x)
        
    return
    
    
collatz(10)

10
5
16
8
4
2
1

In [3]:
#Question 5 :


def binary(num):
    
   if num > 1:
       binary(num//2)
        
   print(num % 2, end='')

binary(9)

1001

In [8]:
#Question 6 :


from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def handle_data(self,a):
        
        tag = super().get_starttag_text()
        
        if '\n' not in a:
            if tag == '<h1>':
                print(a.strip())
            elif tag == '<h2>':
                print(a.strip())
        
        
infile = open('w3c.html','r')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

In [5]:
#Question 7 :


def webdir(URL,depth,indent,xyz):
    
    if xyz == depth:
        return
    print(URL)
    webdir(URL,depth,indent,xyz+1)
    
    return
    
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html',2,2,0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [6]:
#Question 8 :


import sqlite3

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS ANNUAL_WEATHER")
query = "CREATE TABLE ANNUAL_WEATHER (City VARCHAR(255) NOT NULL,Country VARCHAR(255) NOT NULL,Season VARCHAR(255) NOT NULL,Tempareture VARCHAR(255) NOT NULL,Rainfall VARCHAR(255) NOT NULL)"
cursor.execute(query)
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Winter','24.8','5.9')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Spring','28.4','16.2')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Summer','27.9','1549.4')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Fall','27.6','346.0')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Winter','4.2','207.7')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Spring','8.3','169.6')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Summer','15.7','157.0')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Fall','10.4','218.5')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Winter','13.6','16.5')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Spring','20.7','6.5')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Summer','27.7','0.1')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Fall','22.2','4.5')")

print("a)All the tempareture data")
data = cursor.execute("SELECT Tempareture FROM ANNUAL_WEATHER")
for row in data:
    print(row)

print("b)All the cities, but without repetition.")
data = cursor.execute("SELECT DISTINCT City FROM ANNUAL_WEATHER")
for row in data:
    print(row)

print("c) All the records for India.")
data = cursor.execute("SELECT * FROM ANNUAL_WEATHER WHERE Country='India'")
for row in data:
    print(row)

print("d) All the Fall records.")
data = cursor.execute("SELECT * FROM ANNUAL_WEATHER WHERE Season='Fall'")
for row in data:
    print(row)

print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.")
data = cursor.execute("SELECT City,Country,Season FROM ANNUAL_WEATHER WHERE Rainfall>=200 and Rainfall<=400")
for row in data:
    print(row)
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
data = cursor.execute("SELECT City,Country FROM ANNUAL_WEATHER WHERE Season='Fall' and Tempareture>20 ORDER BY Tempareture")
for row in data:
    print(row)
print("g) The total annual rainfall for Cairo.")
data = cursor.execute("SELECT SUM(Rainfall) from ANNUAL_WEATHER WHERE City='Cairo'")
for row in data:
    print(row)
print("h)The total rainfall for each season.")
data = cursor.execute("SELECT SUM(Rainfall),Season from ANNUAL_WEATHER GROUP BY Season")
for row in data:
    print(row)

conn.close()

a)All the tempareture data
('24.8',)
('28.4',)
('27.9',)
('27.6',)
('4.2',)
('8.3',)
('15.7',)
('10.4',)
('13.6',)
('20.7',)
('27.7',)
('22.2',)
b)All the cities, but without repetition.
('Mumbai',)
('London',)
('Cairo',)
c) All the records for India.
('Mumbai', 'India', 'Winter', '24.8', '5.9')
('Mumbai', 'India', 'Spring', '28.4', '16.2')
('Mumbai', 'India', 'Summer', '27.9', '1549.4')
('Mumbai', 'India', 'Fall', '27.6', '346.0')
d) All the Fall records.
('Mumbai', 'India', 'Fall', '27.6', '346.0')
('London', 'United Kingdom', 'Fall', '10.4', '218.5')
('Cairo', 'Egypt', 'Fall', '22.2', '4.5')
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Cairo', 'Egypt', 'Fall')
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
('Cairo', 'Egypt')
('Mumbai', 'India')
g) The total annual rainfall for Cairo.
(27.6,)
h)The total rainfall for each season.
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

In [8]:
#Question 9 :


words = ["The", "quick", "brown", "fox", "jumps", "over","the", "lazy", "dog"]

record = [w.upper() for w in words]
print("a)",record)

record1 = [w.lower() for w in words]
print("b)",record1)

record2 = [len(w) for w in words]
print("c)",record2)

record3 = [[w.upper(),w.lower(),len(w)] for w in words]
print("d)",record3)

record4 = [w for w in words if len(w)>=4]
print("e)",record4)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']